$primary-color: #000000; // Define your primary color
$secondary-color: #683FB8; // Define your secondary color
$background-color: linear-gradient(9deg, $primary-color 0%, $secondary-color 100%);

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $background-color;

  .logo-container {
    .logo-img {
      width: 100px;
      height: 100px;
      border-radius: 20px;
    }

    h1 {
      color: white;
    }
  }

  .btn-group {
    display: flex;
    flex-direction: column;

    .btn {
      margin: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      background-color: #ffffff;
      color: #000000;
      transition: background-color 0.3s ease;
      border: 2px solid #010007;

      &:hover {
        background-color: #121b3a;
        color: #ffffff;
      }

      .icon-wrapper {
        margin-right: 10px;
      }

      .icon {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        overflow: hidden;
      }

      .btn-text {
        margin: 0;
      }
    }
  }
}
